@font-face { font-family: Source Sans Pro; src: url('fonts/Source_Sans_Pro/SourceSansPro-ExtraLight.ttf'); }
@font-face { font-family: Source Sans Pro; font-weight: bold; src: url('fonts/Source_Sans_Pro/SourceSansPro-Black.ttf'); }
@font-face { font-family: Source Sans Pro; font-style: italic; src: url('fonts/Source_Sans_Pro/SourceSansPro-ExtraLightItalic.ttf'); }


/****	COMMON RESET AND SETTINGS	****/

* {
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

html, body, .container {
	height: 100%;
}

.container {
	background-color: #f4f4f4;
}

ul {
	list-style-type: none;	
}

a, nav div, .head-left a img {
	transition: all .2s ease;
	-moz-transition: all .2s ease;
}

a {
	text-decoration: none;
	color: #f4f4f4;
}

a:hover {
	color: #d8ff06;
}

*, *:after, *:before {
box-sizing: border-box;
padding: 0;
margin: 0;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    /*padding: 15px;*/
}



/****	 HEADER    ****/

/*.top-head:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}*/
.top-head {
	padding: 8px 0 8px 9px;
	height: 55px;
	background-color: #9db904;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.19);
	z-index: 2;
	position: relative;
}
.top-head svg {
	vertical-align: middle;
}
.top-head > div {
	display: table;
	height: 100%;
}
.top-head .mid-head {
	margin: 0 auto;
}
.top-head > div > h3 {
	display: table-cell;
	vertical-align: middle;
}

.head-right div, .head-left div {
	display: table-cell;
	vertical-align: middle;
}

.head-right {
	float: right;
	padding: 10px 0;
}
.head-right div {
	border-right: 1px solid #f4f4f4;
	padding: 0 15px;
}
.head-right div:last-child {
	border: none;
}
.head-right div > a {
	display: table;
	vertical-align: middle;
	font-weight: bold;
	font-size: 13px;
}
.head-right div > a > img {
	display: inline-block;
	vertical-align: middle;
}
.head-right a img {
	margin: 0 auto;
	display: block;
	width: 20px;
	height: 20px;
}
.head-right span {
	padding-left: 5px;
    display: table-cell;
    height: 100%;
    line-height: 20px;
    /*vertical-align: middle;*/
}

.head-left {
	float: left;
}
.head-left a {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}
.head-left a div {
	width: 50px;
	display: block;
}
.head-left a img {
	margin: 0 auto;
	display: block;
	width: 25px;
	height: 25px;
}
.head-left a:hover img {
	margin: 0 auto;
	width: 20px;
	height: 20px;
}
.head-left a:hover img + span {
	display: block;
}
.head-left a span {
	font-weight: bold;
	margin-top: 3px;
	display: none;
	font-size: 9px;
	color: white;
	text-align: center;
}
.horizontal-menu-trigger {
	display: none;
}


/****	 LEFT SIDEBAR    ****/

.sidebar-left {
	position: relative;
	margin-top: -55px;
	margin-left: 0.5%;
	padding-top: 80px;
    height: 100%;
	background-color: #383838;
	/*background-image: url('img/papers.co-vy15-line-dark-pattern-background-6-wallpaper-340x340.jpg');*/
	/*background-repeat: repeat-y;*/
	color: #f4f4f4;
}

.hov {
	padding: 5px 5px 5px 10px;
	margin: 0 10% 0 5%;
	border-bottom: 1px solid #404040;
	overflow: hidden;
}

nav {
	font-size: 1.1em;
}

nav > a {
	padding: 10px 0;
	border-left: 5px solid #383838;
	display: block;
}

nav > a:hover {
	border-left: 5px solid #d8ff06;
	color: #d8ff06;
}

nav a:last-child div {
	border: none;
}



/*nav div:last-child {
	border-bottom: none;
}*/
/*.sidebar-left nav a {
	display: block;
	color: #f4f4f4;
}*/
.a-main {
	width: 92px;
	height: 92px;
	/*background-image: url("img/a-main.png");*/
	/*background-repeat: no-repeat;*/
}
.top-head ul li{
	display: inline-block;
}


.color-link {
	font-size: 12px;
	vertical-align: bottom;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 20px;
	text-align: center;
	width: 100%;
}
.color-link ul li {
	padding: 5px 0;
}

.blue {	color: #00bfc6; }
.grey {	color: #C9CAC3; }
.red { color: #c60000; }
.yellow { color: #ecef0c; }

.blue:hover {
	color: #0CF0FB;
}
.grey:hover {
	color: #FDFDFC;
}
.red:hover {
	color: #F61111;
}
.yellow:hover {
	color: #FCFE6A;
}

@media (max-width: 768px) {
	.sidebar-left {
		margin-left: 0;
	}
}

@media (max-width: 450px) {
	.head-left > a div {
		width: auto;
	}

/****************/
/*	TOP MENU	*/
/****************/
	.head-left {
	    position: absolute;
	    top: 55px;
	    left: 0px;
	    width: inherit;
	}
	.head-left a img {
	    width: 50px;
	    height: 50px;
	}
	.head-left > div {
	    background-color: purple;
	    opacity: 0.4;
	    display: table;
        width: inherit;
	}
	#horizontal-menu-trigger {
		background-color: #d8ff06;
		display: inline-block;
		width: 100%;
		height: 30px;
	    border: 1px solid purple;
	    border-radius: 0 0 15px 15px;
	}
	.head-left a {
	    padding: 10% 0;
	}
	.head-left a:hover img {
	    width: 40px;
	    height: 40px;
	}
	.head-left a div {
	    margin: 0 auto;
	}
/*	TOP MENU END	*/
}

